{
  "rules": {
      // EXPLICITLY CONFIGURED RULES
        
        // simple error rules
        "spaced-comment":                   "error",
        "no-async-promise-executor":        "error",
        "no-template-curly-in-string":      "error",
        "array-callback-return":            "error",
        "block-scoped-var":                 "error",
        "default-case":                     "error",
        "no-caller":                        "error",
        "no-empty-function":                "error",
        "no-eq-null":                       "error",
        "no-eval":                          "error",
        "no-floating-decimal":              "error",
        "no-implied-eval":                  "error",
        "no-iterator":                      "error",
        "no-lone-blocks":                   "error",
        "no-loop-func":                     "error",
        "no-multi-spaces":                  "error",
        "no-multi-str":                     "error",
        "no-new":                           "error",
        "no-new-func":                      "error",
        "no-new-wrappers":                  "error",
        "no-octal-escape":                  "error",
        "no-proto":                         "error",
        "no-return-assign":                 "error",
        "no-return-await":                  "error",
        "no-script-url":                    "error",
        "no-self-compare":                  "error",
        "no-sequences":                     "error",
        "no-throw-literal":                 "error",
        "no-unused-expressions":            "error",
        "no-useless-call":                  "error",
        "no-useless-catch":                 "error",
        "no-useless-concat":                "error",
        "no-useless-return":                "error",
        "no-void":                          "error",
        "no-with":                          "error",
        "prefer-promise-reject-errors":     "error",
        "radix":                            "error",
        "require-await":                    "error",
        "curly":                            ["error", "multi-line"],
        "no-shadow":                        "error",
        "no-shadow-restricted-names":       "error",
        "handle-callback-err":              "error",
        "no-buffer-constructor":            "error",
        "no-mixed-requires":                "error",
        "no-new-require":                   "error",
        "no-path-concat":                   "error",
        "no-sync":                          "error",
        "key-spacing":                      "off",

        // complex error rules
        "indent":                           ["error", 4, { 
                                                "SwitchCase": 1,
                                                "VariableDeclarator": "first",
                                                "MemberExpression": 1,
                                                "FunctionDeclaration": {"body": 1, "parameters": 2},
                                                "FunctionExpression": {"body": 1, "parameters": 2},
                                                "flatTernaryExpressions": true,
                                                "ignoreComments": true
                                            }],
        "quotes":                           [ "error", "single" ],
        "semi":                             [ "error", "always" ],
        "linebreak-style":                  [ "error", "unix" ],
        "complexity":                       [ "error", 15 ],
        "dot-location":                     [ "error", "property" ],
        "eqeqeq":                           [ "error", "smart" ],
        "max-classes-per-file":             [ "error", 1 ],
        "array-element-newline":            [ "error", "consistent" ],
        "block-spacing":                    [ "error", "always" ],
        "brace-style":                      [ "error", "1tbs" ],
        "comma-dangle":                     [ "error", "always-multiline" ],
        "comma-spacing":                    [ "error", { "before": false, "after": true } ],
        "comma-style":                      [ "error", "last" ],
        "eol-last":                         [ "error", "always" ],
        "func-call-spacing":                [ "error", "never" ],
        "function-paren-newline":           [ "error", "multiline" ],
        // "id-length":                        [ "error", { "min": 3, "max": 20 } ],

        // warnings
        "no-else-return":                   "warn",
        "no-extra-parens":                  "warn",
        "yoda":                             "warn",
      
        // disabled recommended rules
        "no-extra-boolean-cast": "off",

    // END OF EXPLICITLY CONFIGURED RULES

    // RECOMMENDED DEFAULTS
        "getter-return":                    "error",
        "for-direction":                    "error",
        "no-console":                       "error",
        "no-constant-condition":            "error",
        "no-debugger":                      "error",
        "no-dupe-args":                     "error",
        "no-dupe-keys":                     "error",
        "no-duplicate-case":                "error",
        "no-empty":                         "error",
        "no-empty-character-class":         "error",
        "no-ex-assign":                     "error",
        "no-extra-semi":                    "error",
        "no-func-assign":                   "error",
        "no-invalid-regexp":                "error",
        "no-obj-calls":                     "error",
        "no-regex-spaces":                  "error",
        "no-sparse-arrays":                 "error",
        "no-unreachable":                   "error",
        "no-unsafe-finally":                "error",
        "no-unsafe-negation":               "error",
        "use-isnan":                        "error",
        "valid-typeof":                     "error",
        "no-unused-vars":                   "error",
        "no-case-declarations":             "error",
        "no-empty-pattern":                 "error",
        "no-unused-labels":                 "error",
        "no-fallthrough":                   "error",
        "no-redeclare":                     "error",
        "no-octal":                         "error",
        "no-self-assign":                   "error",
        "no-useless-escape":                "error",
        "no-undef":                         "error",
        "no-inner-declarations":            ["error", "functions"]
  },
  "parserOptions": {
      "sourceType": "module",
      "ecmaVersion": 8
  },
  "env": {
      "node": true,
      "es6": true,
      "mocha": true
  },
  "extends": "eslint:recommended",
  "globals": {}
}
